

.text-container {

    text-align: center;
    font-size: 16px; /* base font size */
  }
  a{
    text-decoration: none;
  }
  body{
    background-color: rgb(255, 202, 89);
  
  }
/* Base font size */
.text-container {

    font-family: 'Orelega One', cursive;

    font-size: 80px;
  }
  
  /* Responsive styles */
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .text-container {
      font-size: 40px; /* smaller font size */
    }

    .responsive-button {
        padding: 20px 88px;
       font-size: 14px;
       
     }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .text-container {
      font-size: 38px; /* base font size */
    }
    .responsive-button {
        padding: 20px 100px;
      font-size: 16px;


    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .text-container {
      font-size: 40px; /* larger font size */
    }
    .responsive-button {
        padding: 20px 140px;
      font-size: 18px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .text-container {
      font-size: 50px; /* even larger font size */
    }
    .responsive-button {
        padding: 20px 140px;
      font-size: 20px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .text-container {
      font-size: 60px; /* even larger font size */
    }
    .responsive-button {
        padding: 20px 140px;
     font-size: 22px;
   }
  }

/* Base styles */
.responsive-button {
 width: 100%;
    font-size: 2rem;
    background: #17c2a2;
    color: white;
    text-align: center;
    border-radius: 10px;
  }


/* Base styles */
.responsive-image {
    max-width: 100%;
    padding-top: 30px;
height: max-content;

    /* scale the image to fit its container */
  }
  
  /* Responsive styles */
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .responsive-image {
      width: 100%; /* smaller image on smaller screens */
    }
    .elements {
        display: flex;
     flex-wrap: wrap;
      
    }

    .element1, .element2 , .element3{
        width: 100%;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .responsive-image {
      width: 100%; /* base image size */
    }

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .responsive-image {
      width: 110%; /* larger image on larger screens */
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .responsive-image {
      width: 120%; /* even larger image */
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .responsive-image {
      width: 130%; /* even larger image */
    }
  }
  
.elem-pi , .elem-text{
    font-family: 'Roboto', sans-serif;
 
   
    font-size: 26px;
    font-weight: bold;
  
}
.elements {
    display: flex;

  width: 100%;
}

.element1, .element2 , .element3{
width: 100%;
    display: flex;
margin-left: 1%;
    margin-bottom: 2%;
        flex-direction: column;
        background-color: rgb(182, 217, 232);
        padding: 50px 20px;
 
        border-radius: 10px;
   
    }

.elem-img {
    margin-left: auto;
    margin-right: auto;
           width: 65px;
           height: 65px;
           margin-bottom: 2%;
       }

    

.footer{
    margin:  0 auto;
    background-color:#9DA1AA ;
    max-width: 1000px;
    font-size: 35px;
    border-radius: 1%;
font-family: 'Times New Roman', Times, serif;
 
}  
.foot{
    margin-bottom: 30px;
}  
.foot-pi{
    color:  #000000;
} 
.foot-text{
    font-weight: bold;
    padding-top: 20px;
}



details[open] > summary {
    color:rgb(255, 255, 255); 
    background-color:rgb(73, 128, 175);

    cursor: pointer;
        list-style: none; 
}
